@use '../mixins.scss';

.hero {
    @include mixins.center-layout;

    grid-area: hero;

    & .title {
        min-height: 210px;
        padding: 60px 10px;
        color: var(--color-2);
        text-align: center;
        background-image: linear-gradient(
            195.42deg,
            #ed1e79 -13.39%,
            #662d8c 83.2%
        );
        border-radius: var(--rounded-corners-top);

        & h1 {
            font-size: 35px;
        }

        & h2 {
            font-size: 24px;
            font-weight: 500;
        }
    }

    & .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-content: flex-start;
        justify-content: center;
        min-height: 135px;
        padding: 15px;
        background-color: var(--color-7);
        border-radius: var(--rounded-corners-bottom);
    }
}
