@use '../mixins.scss';

.publish-tip {
    @include mixins.center-layout;

    grid-area: hero;

    & form {
        @include mixins.paper;

        padding: 24px;

        & fieldset {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 30px;
            border: 1px solid var(--color-6);
            border-radius: 5px;

            & legend {
                margin-bottom: 10px;
                font-size: 32px;
                font-weight: 600;
            }

            & label {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                font-weight: 600;

                & .error-message {
                    color: var(--color-8);
                }

                & input,
                & textarea,
                & select {
                    padding: 7px 5px;
                    font-size: 18px;
                    border: 1px solid var(--color-7);
                    border-radius: 5px;
                }

                & textarea {
                    min-height: 250px;
                }

                &:disabled {
                    color: var(--color-6);
                }
            }

            & input[type='submit'] {
                @include mixins.button-styles;
            }

            & input:disabled,
            & textarea:disabled,
            & select:disabled {
                color: grey;
                cursor: progress;
            }
        }
    }
}
